<footer>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<p class="fh5co-social-icons">
						<a href="https://twitter.com/AnchoredLoveInt?lang=en"><i class="fa fa-twitter-square"></i></a>
						<a href="https://www.facebook.com/Anchored-In-Love-International-Inc-1506401973006706/"><i class="fa fa-facebook-square"></i></a>
						<a href="https://www.instagram.com/anchoredinloveint/"><i class="fa fa-instagram"></i></a>
						<!-- <a href="#"><i class="fa fa-youtube"></i></a> -->
					</p>
					<p> Anchored In Love International All Rights Reserved. <br>
					Copyright 2017
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>