{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron share-jumbotron">
    <div class="container">
        <div class='row'>
            <div class='col-md-6 col-sm-offset-3 text-center'>
                <i class="fa fa-share-alt fa-5x"></i>
                <h1>Thank You <br/> Help Spread The Word</h1>
                <p>Share our link below via Email, Facebook, Twitter, Reddit, or LinkedIn.<br/><br/>Share
                <br/></p>
                
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://anchoredinloveinternational.org/" target="_blank">
					<i class="fa fa-facebook-square fa-4x"></i>
					</a>
                <a href="https://twitter.com/home?status=Help%20change%20lives%20by%20getting%20involed%20with%20Anchored%20In%20Love%20International." target="_blank">
						<i class="fa fa-twitter-square fa-4x"></i>
					</a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://anchoredinloveinternational.org/&title=Help%20change%20lives%20by%20getting%20involed%20with%20Anchored%20In%20Love%20International.&summary=Anchored%20In%20Love%20International%20ensure%20that%20the%20neediest%20of%20children%20are%20given%20an%20opportunity%20to%20become%20viable%2C%20educated%20and%20independent%20adults&source=http://anchoredinloveinternational.org/" target="_blank">
						<i class="fa fa-linkedin-square fa-4x"></i>
				</a>
                <a href='https://plus.google.com/share?url=http://anchoredinloveinternational.org/' target="_blank">
					  	<i class="fa fa-google-plus-square fa-4x"></i>
					  </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}