{% extends "base.html" %} {% load staticfiles %} {% block content %}
<section class="container project-container">
    <div class="col-md-12">
        
        <div class="project-meta col-md-12">
            <h1 id="project-title">{{ instance.title|title  }} </h1>
            <span class="text-muted">{{ instance.published|date:" M  d Y " }}
      </span>
            <span id="social-share" class="pull-right">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" >
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ share_string }}&source={{ request.build_absolute_uri }}" target="_blank">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
        </span>
        </div>
        {% if instance.image %}
        <div class="project-img">
            <img src="{{ instance.image.url }}" class="img-responsive" />
        </div>
        {% endif %}
        <article>
            <p>{{ instance.content|linebreaks }}</p>
        </article>
    </div>
</section>
{% endblock %}